/* LOGIN FORM */

body.device {
    background: #f8f8f8;
}

.device #header {
    height: auto;
    padding: 5px 16px;
}

.device #header h1 {
    font-size: 18px;
}

.device #header h1 a {
    color: #fff;
}


.device #container {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
}

.device #content {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    min-width: 240px;
    margin: 20px;
}
.device .form-row {
    border-bottom: none;
    padding:5px 20px 5px 20px;
    text-align:center;
}

.device .form-row label {
    padding-right: 0.5em;
    font-size: 2em;
    clear: both;
    color: #333;
}

.device .form-row #id_username, .device .form-row #id_password {
    clear: both;
    width:100%;
    padding:8px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.device span.help {
    font-size: 10px;
    display: block;
}

.device .submit-row {
    background: none;
    text-align:center;
    padding:1.5em 0 0 0;


}
.device .submit-row input {
    height: 35px;
    line-height: 15px;
    margin: 5px 0 0 5px;

}
.device .password-reset-link {
    text-align: center;
}
.device .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.device .btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.device .btn.focus {
  color: #333;
  text-decoration: none;
}
.device .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.device .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.device .btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.device .btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.device .btn-primary:active{
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.device .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.device .btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.device .btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.device .btn-success.active{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.device .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.device .btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.device .btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.device .btn-danger.active{
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  position: relative;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'ON';
  color: #00bf00;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}
