/* LOGIN FORM */

body.login {
    background: #f8f8f8;
}

.login #header {
    height: auto;
    padding: 5px 16px;
}

.login #header h1 {
    font-size: 18px;
}

.login #header h1 a {
    color: #fff;
}

.login #content {
}

.login #container {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 50px auto;
}

.login #content-main {
}

.login .form-row {
    border-bottom: none;
    padding:5px 20px 5px 20px;
    text-align:left;
}

.login .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    clear: both;
    width:100%;
    padding:8px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .submit-row {
    background: none;
    text-align:center;
    padding:1.5em 0 0 0;


}
.login .submit-row input {
    height: 35px;
    line-height: 15px;
    margin: 5px 0 0 5px;

}
.login .password-reset-link {
    text-align: center;
}
.login .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.login .btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.login .btn.focus {
  color: #333;
  text-decoration: none;
}
.login .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.login .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.login .btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.login .btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.login .btn-primary:active{
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.login .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.login .btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.login .btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.login .btn-success.active{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.login .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.login .btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.login .btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.login .btn-danger.active{
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
